* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: rgb(0, 132, 250);
    width: 100%;
    height: 80px;
}

.fa-bars {
    padding-right: 3rem;
    color: white;
}

.img-size {
    padding-left: 2.5rem;
    width: 100px;
    height: 35px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* First Section */

.container {
    width: 480px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.col {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.demo-application .col {
    width: 100%;
}

.app {
    background-color: rgb(181, 221, 254);
    height: 430px;
    width: 100%;
    border-radius: 30px;
    text-align: center;
}

.app-max {
    background-color: rgb(181, 221, 254);
    height: 758px;
    width: 100%;
    border-radius: 30px;
    padding: 2rem 2rem 0rem 2rem;
    text-align: start;
}

.color-blue {
    color: rgb(0, 132, 250);
    padding-bottom: 2rem;
}

.line-height {
    line-height: 180%;
    padding-bottom: 3rem;
}

.app-store {
    background-color: rgb(0, 132, 250);
    height: 50px;
    width: 230px;
    border-radius: 50px;
    text-align: center;
    padding-top: 0.60rem;
}

.app-store-white {
    color: white;
    font-size: 20px;
}

.fa-apple {
    padding-right: 1rem;
}

.img-phone {
    height: 450px;
    width: 380px;
    padding: 2rem 2rem 0rem 0rem;
}

.size {
    color: rgb(0, 132, 250);
    padding: 3rem 0rem;
    font-size: 100px;
}

.p-padding {
    padding: 0rem 3rem;
    line-height: 180%;
}


/* Second Section */

.strategic {
    background-color: rgb(151, 146, 226);
    margin-top: 4rem;
}

.img {
    height: 450px;
    border-radius: 30px;
}

.female-macbook {
    height: 80%;
    width: 100%;
}

.h1-p {
    height: 200px;
    border-radius: 30px;
    text-align: start;
}

.app-developement {
    background-color: white;
    height: 600px;
    border-radius: 30px;
}

.h1-strategic {
    font-size: 30px;
    padding-bottom: 2rem;
    color: white;
}

.p-line-height {
    line-height: 180%;
    color: white;
}

/* Third Section */

.testimonials {
    background-color: white;
}

.commited-expert {
    background-color: rgb(151, 146, 226);
    height: 300px;
    border-radius: 30px;
}

.partner {
    background-color: rgb(151, 146, 226);
    height: 500px;
    border-radius: 30px;
}

/* Fourth Section */

.working-benefits {
    background-color: rgb(151, 146, 226);
}

.working-title {
    background-color: white;
    height: 200px;
    border-radius: 30px;
}

.working-p {
    background-color: white;
    height: 500px;
    border-radius: 30px;
}

.bottom {
    margin-bottom: 6rem;
}

/* Fifth Section */

.abous-us {
    background-color: white;
}

.title {
    background-color: rgb(151, 146, 226);
    height: 200px;
    border-radius: 30px;
}

.p {
    background-color: rgb(151, 146, 226);
    height: 500px;
    border-radius: 30px;
}
 
/* Sixth Section */

.get-started {
    background-color: rgb(151, 146, 226);
}

.start {
    background-color: white;
    height: 500px;
}

/* Seventh Section */

.bg-black {
    background-color: rgb(51, 51, 51);
}

.p-footer {
    background-color: white;
    height: 100px;
}

.p-lorem-footer {
    background-color: white;
    height: 60px;
}